.footer {
    background-color: rgb(85, 234, 184) ;
}

.footer p {
    text-align: center;
    color: black;
    padding: 11px 0px;
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
}